@import "tailwindcss";

@theme {
    /* Cores principais */
    --color-primary: #a61103;
    --color-primary-green: #03bc4c;
    /* Cor de acento*/
    --color-accent: #f59e0b;
    /* Cores de fundo */
    --color-background: #1c1615;
    /* Fundo vermelho escuro */
    --color-surface: #2a1c1b;
    /* cards / sections */

    --color-text-primary: #f2eded;
    /* não é branco puro */
    --color-text-secondary: #c9b8b6;
    /* descrições */
    --color-text-muted: #d3d7d7;
    /* labels, specs */
}

@layer base {
    button:not(:disabled) {
        cursor: pointer;
    }
}
